@tailwind base;
@tailwind components;
@tailwind utilities;
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  box-sizing: border-box;
}

html,
body,
#root {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

.App-curved-line {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.open-icon {
  transition: transform 300ms;
}
.open-icon:hover {
  transform: translate(4px, -4px);
}

.download-icon {
  transition: transform 300ms;
}
.download-icon:hover {
  transform: translateY(4px);
}

.gray-shiny {
  background-image: linear-gradient(90deg, #272626, rgba(0, 0, 0, 0.3));
}

.mix-shiny {
  background-image: linear-gradient(90deg, rgb(39, 38, 38), rgba(0, 0, 0, 0.3));
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.typing-indicator-dot {
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  animation: blink 1.4s infinite both;
}

.header {
  position: fixed;
  left: 0;
  width: 100%;
  transition: top 0.5s ease;
}

.header-ul li a {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding-bottom: 1px;
}
.header-ul li a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  right: 50%;
  width: auto;
  height: 1px;
  background-color: #25cede;
  transition: left 0.3s ease-out, right 0.3s ease-out;
  z-index: -1;
  border-radius: 1px 0 0 1px;
}
.header-ul li a:hover::before {
  left: 0;
  right: 0;
  border-radius: 1px;
}

.typing-indicator-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-indicator-dot:nth-child(3) {
  animation-delay: 0.4s;
}

.anchor-link {
  color: #25cede;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}
.anchor-link:hover {
  color: #fff;
}

.atropos {
  @apply max-w-[350px] sm:max-w-[500px] rounded-[250px];
}

.social-media {
  @apply hover:scale-125 transition-all duration-300;
}

.chat-input {
  @apply rounded-[12px] shadow-shadow-input h-[50px] w-[300px] outline-none px-6 bg-secondaryBG;
}

.icon-container {
  @apply rounded-full h-[45px] w-[45px] shadow-shadow-icon flex justify-center items-center;
}

.skills-icon-container {
  @apply w-[50px] h-[50px] bg-skillsBG rounded-[72px] bg-primaryBG shadow-shadow-skills flex justify-center items-center;
}

.link-icon {
  @apply shadow-shadow-icon hover:shadow-shadow-input transition-shadow duration-300 w-[40px] h-[40px] rounded-md flex justify-center items-center;
}

.contact-input {
  @apply rounded-[12px] shadow-shadow-input h-[80px] w-full outline-none px-6 bg-secondaryBG;
}

.date {
  @apply text-center text-[2rem] sm:text-[2rem] md:text-[2rem] xl:text-[2.25rem];
}

.work {
  @apply bg-primaryBG left-1/2 -translate-x-1/2 min-w-[300px] max-w-[300px] py-2 sm:max-w-[400px] md:min-w-[400px] md:max-w-[400px] xl:min-w-[450px]  xl:max-w-[450px] max-h-[300px] shadow-shadow-oval transition-shadow duration-500 gray-shiny rounded-xl items-center flex gap-2 sm:gap-2 md:gap-4  flex-col justify-center text-[1rem] sm:text-[1.5rem] md:text-[2rem] xl:text-[2.25rem] absolute;
}

.grid-4812 {
  @apply grid grid-cols-4 md:grid-cols-8 xl:grid-cols-12;
}

.grid-fill-4812 {
  @apply col-span-4 md:col-span-8 xl:col-span-12;
}

circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}

.blackColor {
  background: linear-gradient(to right, #1a1a1a, #171717);
}

body {
  /*   background: linear-gradient(to right, #171a1a, #1c1f20); */
  background: linear-gradient(to right, #1a1a1a, #171717);
  /*   background: $primaryBG; */
  font-family: "Montserrat", sans-serif;
}

svg {
  max-width: 600px;
  overflow: hidden;
}

.ball {
  fill: white;
}

.line {
  fill: none;
  stroke: #25cede;
  stroke-width: 2px;
}

.lineTo {
  fill: #25cede;
}

text {
  fill: white;
  font-size: 15px;
  visibility: hidden;
}/*# sourceMappingURL=style.css.map */